* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #282828;
}

a {
  text-decoration: none;
  color: #282828;
}

/* .active {
  color: #0D50FF;
} */

.container {
  width: 1360px;
  margin: 0 auto;
}